legend{
    text-align: center;
    color: black;
}
legend{
font-size: x-large;
font-weight: bolder;
}
fieldset{
    background-color:gray;
    height: 600%;
    width: 15%;

}
body{
    color:gold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 90vw;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
#div1{
    color:azure;
}
a{
    font-size: x-large;
}
nav1{
    width: 100%;
    height: 300%;
    font-size: 200%;
    text-align:center;
    color: aquamarine;
}



